body {
  color: #0a1919;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.demo-frame {
  width: 100%;
  height: 100%;
  border: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

.demo-frame::after {
  box-shadow: inset 0px -3px 7px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.demo-overlay {
  display: flex;
  margin: calc(50vh - 12rem) auto 8rem auto;
  padding: 1.5rem;
  height: 8rem;
  box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.1);
  max-width: 45rem;
  background: white;
}

.demo-overlay .titles {
  flex-grow: 1;
}

.demo-overlay img.logo {
  align-self: center;
  height: 120%;
  margin-right: 2em;
}

.demo-overlay .gotoapp svg {
  display: block;
  margin: 0px auto;
  fill: #2cb7cd;
}

.page-body {
  box-shadow: 3px -3px 7px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  max-width: 45rem;
  margin: 0px auto;
  padding: 1.5rem;
}

h1 {
  color: #00a651;
  font-size: 3rem;
  margin-bottom: 0.75rem;
  font-weight: bold;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
h3 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  color: #00a651;
  margin-bottom: 2rem;
  margin-top: 3rem;
}
p {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.25rem;
}

.versions {
  margin: 1.25rem 0;
  max-width: 100%;
  overflow: scroll;
}

.versions tbody td:not(:first-child) {
  text-align: center;
}

.versions th {
  font-weight: bold;
  border-bottom: 1px solid #888;
}

.versions th,
td {
  padding: 0.5rem;
  vertical-align: middle;
}

.versions td.ok {
  color: #00a651;
}

.versions td.ko {
  color: #e43030;
}

.versions th:not(:first-child),
.versions td:not(:first-child) {
  border-left: 1px solid #888;
}

.versions th:not(:first-child) {
  cursor: pointer;
}

.versions th:not(:first-child):hover {
  background: #eee;
}

@media (max-width: 720px) {
  body {
    font-size: 12px;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  h3 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
  p {
    line-height: 1rem;
  }
  a.gotoapp {
    display: none;
  }

  .demo-overlay .titles p {
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
  a.gotoapp-small {
    position: relative;
    top: -3px;
  }
  a.gotoapp-small svg {
    position: relative;
    top: 3px;
    fill: #2cb7cd;
  }
}

@media (min-width: 721px) {
  a.gotoapp-small {
    display: none;
  }
}

img {
  max-width: 100%;
}

ul {
  padding-left: 2rem;
  list-style-type: disc;
}
li {
  line-height: 1.25rem;
}

strong {
  font-weight: bold;
}

pre {
  font-family: "Courier New", Courier, monospace;
  max-width: 100%;
  overflow: scroll;
  padding: 0.5rem;
  box-shadow: inset 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
  background: #f4f6f6;
}

a {
  color: #2cb7cd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
